# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


*.csv

lightning_logs/

checkpoints/

data/

*.pyc

*.yaml

*.ckpt

.ckpt

.pyc

*.cpython-312.pyc

.cpython-312.pyc

__pycache__/

logs/

base_ckpts/